@page "/"

<PageTitle>Home</PageTitle>


<div align="center">
    <img src="/assets/logo.jpg" alt="Acme Logo" width="500" height="300" />
    <h4 class="card-title">Developed by</h4>
    <p class="card-text">Kannan </p>
    <p class="card-text">kannan.sudhakaran@koenig-solutison.com </p>

</div>