@page "/"

<PageTitle>Home</PageTitle>

<h1>The current Rating you clicked is :@ratingMessage</h1>

<Rating StarsCount="3" OnHover="F1CallBack"></Rating>

<Rating StarsCount="5" OnHover="F1CallBack"></Rating>

<Rating StarsCount="3.5" OnHover="F1CallBack"></Rating>

@code {
    private string ratingMessage = string.Empty;
        private void F1CallBack(double starsCount)
        {
           ratingMessage = $"The current Rating you clicked is : {starsCount}";
            Console.WriteLine($"The current Rating you clicked is : {starsCount}");
        }
}